/* AI Data Visualisation. Created by Josh S 2020. */
body {
  font-family: "Lato", sans-serif;
}

.navbar {
 min-height: 60px;
}


@media (min-width: 768px) {
 .navbar-nav > li > a {
   /* (80px - line-height of 27px) / 2 = 26.5px */
   padding-top: 26.5px;
   padding-bottom: 26.5px;
   line-height: 27px;
 }
}

.sidebar {
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 25px;
  white-space: nowrap;
}

#question-text {
  margin: 0;
  position: absolute;
  top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.sidebar a {
  padding: 5px 5px 5px 18px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

main .sidebar {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
  margin-left: 20px;
}

.icon-text {
  display: none;
}


.material-icons,
.icon-text {
  vertical-align: middle;
}

.material-icons {
  padding-bottom: 3px;
  margin-right: 15px;
}

.icon-selected {
  color: #DC143C;
}

#main {
  padding: 10px;
  margin-left: 85px;
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
