/* AI Data Visualisation. Created by Josh S 2020. */
body {
  font-family: "Lato", sans-serif;
}

.navbar {
 min-height: 60px;
}


@media (min-width: 768px) {
 .navbar-nav > li > a {
   /* (80px - line-height of 27px) / 2 = 26.5px */
   padding-top: 26.5px;
   padding-bottom: 26.5px;
   line-height: 27px;
 }
}

.sidebar {
  height: 100%;
  width: 60px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 25px;
  white-space: nowrap;
}

.modal-lg {
    max-width: 80%;
    max-height: 80%;
}

.modal-dialog {
  height: 90%; /* = 90% of the .modal-backdrop block = %90 of the screen */
}
.modal-content {
  height: 100%; /* = 100% of the .modal-dialog block */
}

.fade {
   opacity: 1;
   transition: opacity .50s ease-in-out;
   -moz-transition: opacity .50s ease-in-out;
   -webkit-transition: opacity .50s ease-in-out;
   }

.vd {
  border-left: 0.5px solid black;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

#question-text {
  margin: 0;
  position: absolute;
  top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.sidebar a {
  padding: 5px 5px 5px 18px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

.main-container {
  display: none;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.node-title-text {
  text-align: center;
  padding-top: 1px;
}

.node-containers {
   border-radius: 10px;
}

.primary-container {
  max-width: 80%;
}

.credits {
  position: fixed;
  left: 50%;
  bottom: -1%;
  width: 25%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color:	rgba(24,24,24, 0.7);
  color: white;
  border-radius: 5px;
  text-align: center;
   transform: translate(-50%, -50%);
}

.col {
  flex-grow: 4;
   justify-content: space-around;
}

main .sidebar {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
  margin-left: 20px;
}

.icon-text {
  display: none;
}

.container {
    justify-content: space-around;
}

.material-icons,
.icon-text {
  vertical-align: middle;
}

.material-icons {
  padding-bottom: 3px;
  margin-right: 15px;
}

.icon-selected {
  color: #DC143C;
}

#main {
  padding: 10px;
  margin-left: 85px;
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
